body {
  min-height: unset;
  height: 100%;
  overflow: hidden;
}

.main_view_splitter {
  display: none;
}

.loaded .main_view_splitter {
  display: flex;
}


.tickets_list {
  display: block;
}

.document_feed_view {
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  display: flex;
}

.members_feed_profile_image {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 6px;
}

.members_feed_profile_name {
  white-space: nowrap;
  flex: 1;
  overflow: hidden;
}

.members_feed_line_wrapper {
  display: flex;
  flex-direction: row;
}

.members_feed_online_status {
  background: white;
}

.members_feed_profile_lastactivity { 
  opacity: .55;
  padding-right: 5px;
}

.member_online_status {
  border-radius: 100%;
  width: 18px;
  height: 18px;
  background: rgb(127, 127, 127);
  border: solid 1px rgb(47, 47, 47);
  display: inline-block;
  position: relative;
}

.member_online_status.online {
  background: rgb(50, 255, 50);
}

.admin_only {
  display: none;
}

.game_owner .admin_only {
  display: initial;
}

.game_message_list_item {
  overflow: hidden;
}

.game_message_list_item .user_assist_request_header {
  display: flex;
  flex-direction: row;
  align-items: end;
  flex: 1;
}

.game_message_list_item .member_desc {
  position: relative;
  top: -5px;
  padding-left: 5px;
  padding-right: 5px;
}

.game_message_list_item .name {
  font-weight: bold;
  color: rgb(255, 193, 7);
}


.game_message_list_item .message {
  text-align: left;
  font-size: 1rem;
  padding: 10px;
  white-space: pre-wrap;
  color: rgb(240, 240, 240);
  background: rgb(52, 53, 65);
  line-height: 1.5rem;
}

.game_message_list_item .game_date {
  opacity: .75;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.member_list_item {
  text-align: left;
  clear: both;
}

.game_message_list_item .member_online_status {
  opacity: .75;
  float: right;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.tickets_list .delete_game {
  visibility: hidden;
  background: none;
  border: none;
  color: inherit;
  opacity: 0.5;
  align-self: center;
}

.tickets_list .message_owner .delete_game {
  visibility: visible;
  opacity: 1;
}

.game_owner .tickets_list .delete_game {
  visibility: visible;
}

.assist_section {
  text-align: left;
  font-size: 1rem;
  padding: 8px 12px 0px 12px;
  white-space: pre-wrap;
  line-height: 1.5rem;
  margin-right: 0;
  margin-left: 0;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("/images/grip.png");
  background-size: contain;
  background-position: center;
  cursor: col-resize;
  background-color: rgb(52, 53, 65);
}

.gutter.gutter-vertical {
  background-image: url("/images/grip.png");
  cursor: row-resize;
}

.tokens_total,
.tokens_prompt,
.tokens_completion {
  padding: 10px;
  color: rgba(13, 202, 240, .25);
  font-size: .75rem;
}

.tokens_total {
  color: rgba(13, 202, 240, .5);
}

.rerun_ticket {
  margin: 4px;
}

.left_panel_view {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: rgb(32, 33, 35);
  color: rgb(217, 217, 227)
}

.document_usage_stats_line {
  display: flex;
  padding: 4px;
}

.document_usage_stats_line span {
  flex: 1;
  text-align: center;
}

.last_activity_display {
  position: absolute;
  display: inline-block;
  top: -25px;
  right: 5px;
}

.message_list_send_wrapper {
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0,.7);
}

.token_visualizer_preview {
  margin: 0 8px 0px 8px;
}

.token_visualizer_preview .token_even {
  background: rgba(0, 0, 127);
  color: white;
  word-wrap: break-word;
}

.token_visualizer_preview .token_odd {
  background: rgba(225, 193, 7);
  color: white;
}

.ticket_item_include_wrapper {
  position: relative;
}

.ticket_item_include_wrapper input {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 2px;
  right: 8px;
}

.slider_label {
  text-align: center;
}

.document_option_model_select_wrapper {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

ul.recent_documents_list {
   width: 100%;
}

ul.recent_documents_list li {
  display: block;
}

ul.recent_documents_list li a {
   display: block;
   color: rgb(240, 240, 240);
}

.recent_documents_list .activity_date {
  text-align: right;
  color: rgb(127, 127, 127);
}

.sidebar_document_title {
  padding: 0 8px 12px 8px;
  overflow: hidden;
  max-height: 3em;
  font-style: italic;
}

.members_list {
  max-height: 50vh;
}

.left_panel_view {
  width: 300px;
}

.left_panel_view .navbar{
  border-bottom: 1px solid rgba(222,226,230,.2);
}

.vertical_split .left_panel_view {
  width: auto;
}

.right_panel_view {
  flex: 1;
}

.show_create_modal {
  width: 150px;
}

@media (min-width: 501px) {
  .navbar.snapped {
    transform: translateY(100%);
  }

  .game_message_list_item .message {
    padding-right: 10%;
    padding-left: 2%;
    padding-bottom: 12px;
  }

  .ticket_item_include_wrapper input {
    width: 34px;
    height: 34px;
  }

  .assist_section {
    font-size: 1rem;
    padding: 8px 4px 0px 8px;
    padding-left: 12px;
    padding-bottom: 14px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin-right: 10%;
    margin-left: 2%;
  }

  .tokens_total,
  .tokens_prompt,
  .tokens_completion {
    font-size: 1rem;
  }
}

@media (min-width: 990px) {
  .show_create_modal {
    width: 50px;
  }
}

.show_document_options_modal,
.show_document_options_help {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
}

.show_document_options_help {
  right: 50px;
}

.show_document_options_modal i,
.show_document_options_help i {
  position: relative;
  top: 4px;
}

.show_document_options_modal:hover,
.show_document_options_help:hover {
  background: rgb(127, 127, 127);
  border: white;
  color: white;
}

.ticket_content_input {
  max-height: 150px;
  margin: 4px;
}

.prompt_token_count, .prompt_token_count, .selected_ticket_count_span, .ticket_count_span {
  width: 4em;
  display: inline-block;
}

.prompt_right_spacer {
  width: 8em;
}

.recent_documents_list li {
  margin-left: -15px;
}