body {
    visibility: hidden;
    padding-right: 0px !important;
}

body.body_loaded {
    visibility: visible;
}

.not_logged_in {
    display: none;
}

.auth_inited.app_signed_out .not_logged_in {
    display: block;
}

.signed_out_flex {
    display: none;
}

.app_signed_out .signed_out_flex {
    display: flex;
}

/* Default, for visibility on all states */
p.alert.alert-warning {
    display: block;
}

/* When signed out */
body.app_signed_out p.alert.alert-danger.signed_in_anonymous {
    display: block;
}

/* When signed in anonymously */
body.signed_in_anonymous p.alert.alert-danger.signed_in_anonymous {
    display: block;
}

body.signed_in_anonymous p.alert.alert-warning {
    display: none;
}

/* When signed in as a verified user */
body.app_signed_in p.alert.alert-danger.signed_in_anonymous {
    display: none;
}

.mobile_hide {
    display: none;
}

.mobile_show {
    display: block;
}

@media (min-width: 992px) {
    .mobile_hide {
        display: inline-block;
    }

    .mobile_show {
        display: none;
    }
}

.signed_out_options_block {
   visibility: hidden;
}

.app_signed_out .signed_out_options_block {
    visibility: visible;
}

.app_signed_in .signed_out_options_block {
    display: none;
}

.app_signed_out .signed_out_options_list_item {
    display: list-item;
}


.signed_in_visible {
    visibility: hidden;
}

.app_signed_in .signed_in_visible {
    visibility: visible;
}

.auth_inited .spacer_not_authed {
    display: none;
}

.app_signed_in .signed_in_options {
    display: block;
}

.navbar div.signed_in_inline_block.container,
.signed_in_inline_block,
.signed_in_inline_block,
.signed_out_inline_block {
    display: none;
}

.app_signed_in .navbar div.signed_in_inline_block.container,
.app_signed_in .signed_in_inline_block,
.app_signed_out .signed_out_inline_block {
    display: inline-block;
}

li.signed_in_list_item {
    display: none;
}

.app_signed_in li.signed_in_list_item {
    display: list-item;
}

li.signed_out_list_item {
    display: none;
}

.app_signed_out li.signed_out_list_item {
    display: list-item;
}

div.signed_in_flex {
    display: none;
}

.app_signed_in div.signed_in_flex {
    display: flex;
}

div.signed_out_flex {
    display: none;
}

.app_signed_out div.signed_out_flex {
    display: flex;
}

.loading_li_spacer {
    display: list-item;
}

.app_signed_in .loading_li_spacer,
.app_signed_out .loading_li_spacer {
    display: none;
}