html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: rgb(68, 70, 84);
}

.impact-font {
  font-family: 'Arial';
  font-weight: normal;
  transition: color .4s ease-out, background-color .4s ease-out;
  color: rgb(13, 202, 240);
}

a {
  color: white;
}

.app_panel input,
.app_panel textarea,
.app_panel .select2-selection {
  background: rgb(52, 53, 65);
  color: rgb(217, 217, 227);
}

.app_panel button.btn-toggle {
  color: rgb(240, 240, 240);
}

.app_panel input:focus,
.app_panel textarea:focus {
  background: rgb(32, 33, 35);
  color: rgb(217, 217, 227)
}

.app_panel { 
  background: rgb(68, 70, 84);
  color: rgb(217, 217, 227);
  display: flex;
  flex-direction: column;
  transition: color .2s ease-out, background-color .2s ease-out, opacity .2s;
}

.basic_page_wrapper {
  text-align: center;
  margin: auto;
  min-width: inherit;
  box-sizing: border-box;
}

.navbar {
  padding-left: 10px;
  text-align: left;
  background: rgb(32, 33, 35);
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: white;
}

.card {
  background-color: rgba(127, 127, 127, .15);
}

.card_shadow_md {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

.card_shadow_sm {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)
}


.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  background-color: transparent;
  border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
  background-color: rgb(100, 100, 100);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgb%28240,240,240%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: rgb(100, 100, 100);
}

.btn-check:focus+.btn,
.btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(150, 150, 150, .3);
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}

.lh-tight {
  line-height: 1.25;
}

.flex_shrink_wrapper {
  overflow: auto;
  flex: 1;
}

.logged_in_status {
  text-align: center;
  white-space: nowrap;
  padding: 10px;
  font-size: 20px;
  text-align: left;
}

.profile_display_image {
  width: 64px;
  height: 64px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 20px;
}

.form-check {
  display: inline-block;
  text-align: left;
  padding-right: 30px;
  font-size: 1.5em;
}

.signed_out_options {
  display: none;
}

.app_signed_out .signed_out_options {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  align-self: center;
  font-size: 1.25em;
  max-width: 90%;
}

.signed_in_options {
  display: none;
}

.app_signed_in .signed_in_options {
  display: block;
}

.google_logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

@media (min-width: 768px) {
  .app_signed_out .signed_out_options {
    max-width: 630px;
  }
}

.select2-container .selection {
  width: 100%
}

.select2-container {
  font-size: 22px;
  margin: 1%;
}

.label_profile_picker {
  display: inline-block;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background: #5c636a;
}

.list-group-item {
  color: rgb(240, 240, 240);
}

.list-group-item-action:hover {
  background-color: rgb(50, 50, 50);
  color: rgb(240, 240, 240);
}

select.form-select {
  background-color: rgb(52, 53, 65);
  color: rgb(240, 240, 240);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgb%28240,240,240%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

.app_panel .form-check-input:checked {
  background-color: rgb(25, 135, 84);
  color: rgb(25, 135, 84);
}



.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28240,240,240%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: rgb(200, 255, 200);
  background-color: #5c636a;
  border-color: rgb(240, 240, 240);
  border-bottom-color: transparent;
}

.nav-tabs .nav-link {
  color: #fff;
}

.btn-check:checked+.btn-outline-primary, 
.btn-check:checked+.btn-outline-primary:hover,
.btn-outline-primary:hover {
  color: rgb(200, 255, 200);
  background-color: #5c636a; 
  border-color: rgb(240, 240, 240);
}

.btn-outline-primary {
  color: rgb(240, 240, 240);
  background-color:  rgb(52, 53, 65); 
  border-color: rgb(240, 240, 240);
}

.btn-outline-primary:focus {
  border-color: white;
  border-width: 3px;
}

.btn-outline-primary:active {
  background-color: rgb(127, 127, 127);
}

button.btn-primary {
  background-color:rgb(0, 120, 0);
  border-color:rgb(70, 220, 70);
}

button.btn-primary:hover,
button.btn-primary:focus,
button.btn-primary:active {
  background-color:rgb(50, 150, 50);
  border-color:rgb(120, 255, 120);
}

.app_panel input[type="range"] {
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.app_panel input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
  position: relative;
  top: -4px;
}

.app_panel input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;  
  position: relative;
  top: -4px;
}