html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: rgb(127, 127, 127);
}

.impact-font {
  font-family: 'Arial';
  color: rgb(50, 100, 200);
  font-weight: normal;
  transition: color .4s ease-out, background-color .4s ease-out;
}

.night_mode .impact-font {
  color: rgb(40, 240, 240);
}

a {
  color: black;
}

.night_mode a {
  color: white;
}

.night_mode input, .night_mode textarea {
  background: rgb(52, 53, 65);
  color: white;
}

.night_mode input:focus, .night_mode textarea:focus {
  background: rgb(32, 33, 35);
  color: white;
}

.app_panel {
  background: rgb(127, 127, 127);
  color: rgb(127, 127, 127);
  opacity: .15;
  display: flex;
  flex-direction: column;
  transition: color .2s ease-out, background-color .2s ease-out, opacity .2s;
}

.app_panel h1,
.app_panel h2,
.app_panel h3 {
  opacity: 0;
}

.loaded .app_panel h1,
.loaded .app_panel h2,
.loaded .app_panel h3 {
  opacity: 1;
}

.app_panel h1 span {
  line-height: 50px;
  font-size: 28px;
}

.app_panel h1 .header_down_arrow {
  font-size: 30px;
  color: rgb(100, 100, 100);
  transform: rotateX(180deg);
  transition: transform 600ms;
  display: inline-block;
}

.night_mode .app_panel h1 .header_down_arrow {
  color: rgb(220, 220, 220);
}

.app_panel .collapsed h1 .header_down_arrow {
  transform: rotateX(0deg);
}

.app_panel h1 {
  padding-left: 12px;
  text-align: left;
}

.loaded .app_panel {
  background: rgb(250, 250, 250);
  color: rgb(50, 50, 50);
  opacity: 1;
}

.night_mode .app_panel {
  background: rgb(68, 70, 84);
  color: rgb(240, 240, 240);
}

.basic_page_wrapper {
  text-align: center;
  margin: auto;
  min-height: 100vh;
  min-width: inherit;
  box-sizing: border-box;
}

.signed_out_options {
  display: none;
}

.app_signed_out .signed_out_options {
  display: block;
}

.signed_in_options {
  display: none;
}

.app_signed_in .signed_in_options {
  display: block;
}

.navbar {
  padding-left: 10px;
  text-align: left;
}

.card {
  background-color: rgba(127,127,127,.15);
}