.content_image {
    max-height: 250px;
    object-fit: contain;
    display: inline-block;
    background: rgb(255, 255, 255);
}

.responsive_img {
    max-width: 100%;
    object-fit: contain;
    display: inline-block;
    background: rgb(255, 255, 255);
    margin: auto;
    border: solid 2px var(--secondary-color);
}

.container {
    display: flex;
    flex-direction: column;
}

.flyer_image {
    width: 100%;
    opacity: 0.9;
}

@media (min-width: 992px) {
    .flyer_image {
        width: unset;
        max-height: 450px;
    }
}

.content_section {
    height: 70vh;
    padding: 1em 0 2em 0;
    align-content: center;
    justify-content: center;
}

.content_header {
    color: var(--primary-color);
    font-size: 1.4em;
}

.swiper {
    margin: 1em auto;
    max-width: 100%;
    max-height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    max-width: 90vw;
    height: 100%;
    object-fit: cover;
  }


@media(min-width: 450px) {

}


@media (min-width: 768px) {
    .content_section {
        height: 90vh;
    }
}


@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}