.content_image {
    max-height: 250px;
    object-fit: contain;
    display: inline-block;
    background: rgb(255, 255, 255);
}

.responsive_img {
    max-width: 100%;
    object-fit: contain;
    display: inline-block;
    background: rgb(255, 255, 255);
    margin: auto;
    border: solid 2px var(--secondary-color);
}

.container {
    display: flex;
    flex-direction: column;
}

.flyer_image {
    width:100%;
    opacity:0.9;
}

@media (min-width: 992px) {
    .flyer_image {
        width: unset;
        max-height: 450px;
    }
}