.nav-link.show_create_modal.hover_yellow i {
    position: relative;
}

.nav-link.show_create_modal.hover_yellow:hover i {
    color: var(--highlight);
}


.nav-link.show_create_modal.hover_yellow svg {
    top: -6px;
    left: 3px;
}


.nav-link.show_create_modal.homepage {
    display: inline-block;
    position: relative;
    top: 2px;
}

.show_create_modal i {
    font-size: 36px;
    margin-top: -8px;
    margin-bottom: -8px;
    top: 8px;
}


.create_modal_title_field {
    width: calc(100%);
}

.document_usage_cap_field,
.create_modal_note_field {
    width: 125px;
    display: inline-block;
}

.modal_document_title_display,
.modal_document_system_message_display {
    white-space: pre-wrap;
    display: block;
    min-height: 3em;
    color: var(--primary-color-2);
    background: rgba(0, 0, 0, .3);
    padding: 5px;
    margin-right: 60px;
    border-radius: 6px;
    max-height: 40vh;
    overflow: auto;
}

.day_mode .modal_document_title_display,
.modal_document_system_message_display {
    background: var(--background-accent-3);
}

.upload_wrapper {
    display: flex;
    margin-bottom: 12px;
    padding-top: 4px;
    padding-left: 4px;
}

.parsed_file_name,
.parsed_list_file_name,
.parsed_file_status,
.parsed_list_file_status {
    margin-left: 12px;
    align-self: center;
}

.parsed_file_name,
.parsed_list_file_name {
    flex: 1;
}

.labels_label {
    margin-top: 10px;
    margin-bottom: 4px;
}

.tab-content>#export_tab_view.active,
.tab-content>#template_create_options_view.active,
.tab-content>#bulk_create_options_view.active {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 12px;
    margin-top: -12px;
}

.add_date_as_label_button {
    align-self: center;
    float: right;
    margin-right: 4px;
}

.app_panel .form-check-input.insert_todaylabel_default_checkbox {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    align-self: center;
    float: right;
    position: relative;
    top: 2px;
}

.dialog_header_icon {
    padding-right: 5px;
    color: var(--warning);
}

.dialog_header_icon i {
    position: relative;
}


#createDocumentModal .dialog_header_icon {
    color: var(--member-online-green);
}

.title_note {
    color: var(--primary-color-4);
}

.create_modal_prompt_field {
    width: calc(100% - 8px);
    height: 5em;
    margin-left: 4px;
    margin-right: 4px;
}

.system_message_field {
    width: 100%;
    height: 5em;
    margin-left: 4px;
    margin-right: 4px;
    width: calc(100% - 8px);
}

.preview_create_template,
.preview_bulk_template {
    width: 100%;
    flex: 1;
    overflow: auto;
    border: solid 1px var(--secondary-color-4);
}

.preview_bulk_template {
    margin-bottom: 12px;
}

.bulk_email_template_field {
    margin-top: 8px;
}

.preview_create_template table,
.bulk_batch_job_status table,
.preview_bulk_template table {
    width: 100%;
    position: relative;
}

.preview_create_template tr td:nth-child(2) {
    text-align: center;
}

.preview_create_template table th,
.bulk_batch_job_status table th,
.preview_bulk_template table th {
    background-color: var(--background-accent-5);
    /*
  border-right: solid 1px var(--secondary-color-4);
  border-top: solid 1px var(--secondary-color-4);
  border-bottom: solid 1px var(--secondary-color-4);
  */
    border: solid 1px var(--secondary-color-4);
    padding: 4px;
    text-align: center;
    padding-right: 12px;
}

.preview_create_template table td,
.bulk_batch_job_status table td,
.preview_bulk_template table td {
    white-space: pre-wrap;
    background-color: var(--background-accent);
    /*
  border-right: solid 1px var(--secondary-color-4);
  border-bottom: solid 1px var(--secondary-color-4);
  */
    border: solid 1px var(--secondary-color-4);
    padding: 4px;
    padding-right: 12px;
}

.preview_create_template td {
    width: 33%;
}

.preview_create_template tr:first-child th,
.bulk_batch_job_status tr:first-child th,
.preview_bulk_template tr:first-child th {
    position: sticky;
    top: -1px;
}

.preview_create_template th:nth-child(1),
.bulk_batch_job_status th:nth-child(1),
.preview_bulk_template th:nth-child(1) {
    width: 20px;
}

.preview_create_template td:nth-child(2) {
    width: 20px;
}

.preview_bulk_template td {
    width: 25%;
}

.default_template_button {
    margin-left: 8px;
    margin-right: 4px;
}

.modal_tab_selected_3 .create_game_afterfeed_button {
    display: none;
}

.today_bulk_label_button {
    margin-left: 12px;
    margin-right: 4px;
}

#createDocumentModal .tab-content>.active {
    display: flex;
    flex-direction: column;
}

#bulk_create_options_view .tab-content {
    flex: 1;
    display: flex;
    overflow: hidden;
    padding-top: 12px;
    margin-top: -12px;
}

.modal_create_users_list_button {
    margin-left: 4px;
}

.bulk_batch_job_status {
    background: var(--background-accent);
    overflow: auto;
}

.bulk_create_usage_limit,
.bulk_user_list_status,
.bulk_label_status {
    padding: 4px;
    margin: 4px;
}

.bulk_batch_job_status {
    flex: 1;
    display: block;
}

.bulkInvalidEmail {
    color: var(--warning);
}

.no_label {
    font-style: italic;
}

button.btn-primary.create_bulk_sessions_button {
    background: none;
    color: var(--highlight);
    margin-right: 4px;
}

.bulk_create_sessions_ready button.btn-primary.create_bulk_sessions_button {
    background: var(--highlight);
    color: var(--secondary-color);
}
.csv_choice_label {
  font-size: 1.2em;
  margin-left: 12px;
}

.bulk_copy_csv_clipboard {
  margin-right: 4px;
}

.bulk_create_pills_wrapper {
  display: inline-flex;
  margin: auto;
  margin-bottom: 12px;
  margin-top: 4px;
}