.dashboard_documents_view .list-group-item {
    border: 1px solid var(--home-panel-background);
}

.day_mode .dashboard_documents_view .list-group-item {
    border: 1px solid rgba(0, 0, 0, .175);
}

.dashboard_documents_view .list-group-item:hover,
.dashboard_documents_view .list-group-item:focus,
.dashboard_documents_view .list-group-item:active {
    border: 1px inset var(--primary-color-3);
    background-color: var(--background-accent-1);
}

.day_mode .dashboard_documents_view .list-group-item:hover,
.day_mode .dashboard_documents_view .list-group-item:focus,
.day_mode .dashboard_documents_view .list-group-item:active {
    background-color: var(--background-accent-2);
    border: 1px solid var(--primary-color-4);
}

.dashboard_menu_toggle i {
    top: 4px;
    position: relative;
    color: var(--primary-color);
}

.dropstart .dropdown-toggle {
    outline: 0;
}

.dropstart .dropdown-toggle::before {
    display: inline-block;
    margin-right: 0;
    vertical-align: 0;
    content: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.btn.btn-secondary.dropdown-toggle.dashboard_menu_toggle {
    background: none;
    border: none;
    border-left: solid 1px var(--secondary-color);
    border-radius: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: -3px;
    margin-bottom: -3px;
    border-radius: 6px;
}

.btn.btn-secondary.dropdown-toggle.dashboard_menu_toggle {
    border-left: none;
}

.btn.btn-secondary.dropdown-toggle.dashboard_menu_toggle.show {
    background: var(--secondary-color);
}

.list-group-item-action:focus {
    background-color: var(--background-accent-2);
}

.list-group-item-action {
    background-color: var(--home-panel-background);
}

.list-group-item-action:hover {
    background-color: var(--background-accent-3);
    color: var(--primary-color-1);
}

.session_ticket_count {
    color: var(--document-title);
    margin: auto;
    width: 3em;
    font-family: "MonospaceTTF";
    white-space: nowrap;
    font-size: .9em;
}

.unused_chatroom_title_placeholder {
    font-style: italic;
    opacity: .85;
}


.document_shared_status_icon_wrapper {
    background: none;
    border-color: transparent;
    position: relative;
    align-self: center;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: -16px;
    margin-bottom: -16px;
}

.profile_text_option_large .document_shared_status_icon_wrapper {
    padding-top: 28px;
    padding-bottom: 28px;
    margin-top: -32px;
    margin-bottom: -32px;
}

.document_shared_status_icon_wrapper span {
    position: relative;
    top: 4px;
}

.no_games_in_dashboard {
    display: none;
}

.no_documents_in_feed .no_games_in_dashboard {
    display: block;
}

.games_view_wrapper {
    display: none;
}

.documents_feed_loaded .games_view_wrapper {
    display: block;
}

.no_documents_in_feed .games_view_wrapper {
    display: none;
}


.game_lobby {
    margin: auto;
    width: 100%;
}

select.document_label_filter.form-select {
    border: 1px solid var(--primary-color-4);
    color: var(--primary-color);
    font-size: 24px;
    background-color: var(--secondary-color);
    padding: 4px;
    padding-left: 8px;
    padding-right: 24px;
}

select.document_label_filter.form-select:hover,
select.document_label_filter.form-select:focus,
select.document_label_filter.form-select:active {
    background-color: var(--background-accent-3);
}

.games_view_header_wrapper {
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    visibility: hidden;
    display: inline-block;
    margin: 0px;
    margin-bottom: 12px;
    max-width: calc(100% - 86px);
    padding-left: 4px;
    padding-top: 4px;
}

.documents_feed_loaded .games_view_header_wrapper {
    visibility: visible;
}

.session_shared_column {
    width: 100px;
    display: none;
    max-height: 3.3em;
    overflow: hidden;
    margin-top: -3px;
    text-align: left;
    margin-bottom: -8px;
    text-align: center;
    white-space: nowrap;
    align-self: center;
}

.session_shared_column .member_profile_name {
    font-size: 10px;
    left: 0;
    margin-top: 4px;
}

.session_labels_column {
    width: 250px;
    display: none;
    max-height: 3.3em;
    overflow: hidden;
    margin-top: -10px;
    text-align: left;
    margin-bottom: -8px;
    text-align: center;
    align-self: center;
}

@media (min-width: 850px) {
    .session_labels_column {
        display: block;
    }
}

@media (min-width: 1050px) {
    .session_shared_column {
        display: block;
    }
}

.dashboard_session_chip {
    display: inline-block;
    margin: 2px;
    margin-top: 0;
    border-radius: 20px;
    padding: 2px 10px;
    color: var(--primary-color-4);
    border: solid 1px var(--secondary-color-3);
    font-size: 0.75em;
}

.count_status_wrapper {
    align-self: center;
}

.day_mode .dropdown-menu {
    background-color: rgb(245, 245, 245);
}

.dropdown-menu.show button {
    font-size: 1.25em;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-menu i {
    top: 6px;
    position: relative;
}

.dropdown-menu.dropdown-menu-dark .delete i,
.day_mode .dropdown-menu.dropdown-menu-dark .delete i,
.dropdown-menu.dropdown-menu-dark .leave i,
.day_mode .dropdown-menu.dropdown-menu-dark .leave i {
    color: var(--warning);
}

.day_mode .dropdown-menu-dark .dropdown-item,
.day_mode .dropdown-menu-dark .dropdown-item i {
    color: var(--secondary-color);
}
.dashboard_menus_list li i {
  visibility: hidden;
  position: relative;
  left: -6px;
}

.dashboard_menus_list li.selected i {
  visibility: visible;
}
.filter_bar_wrapper {
  opacity: 0;
  text-align: left;
  padding-left: 0px;
  display: none;
  z-index: 90;
  position: relative;
  top: 4px;
  padding-top: 12px;
}

.list_loaded .filter_bar_wrapper {
  opacity: 1;
  display: flex;
}

@media (min-width: 768px) {
  .filter_bar_wrapper {
    margin-top: -8px;
  }
}
.dashboard_feed_owner_user.document_list_item .delete {
  display: block;
}

.dashboard_feed_owner_user.document_list_item .leave {
  display: none;
}
.session_feed_inited_flex {
    display: none;
  }
  
  .session_feed_inited .session_feed_inited_flex,
  .app_signed_out .session_feed_inited_flex {
    display: flex;
  }
  
  .document_name {
    flex: 1;
    text-align: left;
    max-height: 3em;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--primary-color);
  }
  
  .document_status {
    display: block;
    clear: both;
    white-space: nowrap;
    overflow: visible;
    align-self: center;
    min-width: 3.25em;
    padding-left: 0.25em;
  }
  
  .profile_text_option_large .document_name {
    font-size: 1.3em;
    line-height: 1.75em;
    max-height: 3.5em;
  }
  
  .profile_text_option_large .document_list_item {
    min-height: 5.6em;
  }
  
  .profile_text_option_large .session_labels_column {
    font-size: 1.3em;
  }

  .ai_demo_bg_img {
    min-height: 420px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/aiarchive/img/chunk_sentences.png);
  }
  
  .bible_demo_bg_img {
    min-height: 420px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/bible/img/ragChapterVerses.png);
  }
  