label {
    font-weight: bold;
    display: block;
}

.document_list_file_name,
.document_list_file_status {
  margin-left: 12px;
  align-self: center;
  flex: 1;
}

.styled_csv_table {
  width: 100%;
  flex: 1;
  overflow: auto;
  border: solid 1px var(--secondary-color-4);
  margin-bottom: 12px;
  max-height: 50vh;
  min-height: 10vh;
}

.styled_csv_table table {
  width: 100%;
  position: relative;
}

.styled_csv_table table th {
  background-color: var(--background-accent-5);
  /*
  border-right: solid 1px var(--secondary-color-4);
  border-top: solid 1px var(--secondary-color-4);
  border-bottom: solid 1px var(--secondary-color-4);
  */
  border: solid 1px var(--secondary-color-4);
  padding: 4px;
  text-align: center;
  padding-right: 12px;
}

.styled_csv_table table td  {
  white-space: pre-wrap;
  background-color: var(--background-accent);
  /*
  border-right: solid 1px var(--secondary-color-4);
  border-bottom: solid 1px var(--secondary-color-4);
  */
  border: solid 1px var(--secondary-color-4);
  padding: 4px;
  padding-right: 12px;
}

.styled_csv_table tr:first-child th {
  position: sticky;
  top: -1px;
}

.styled_csv_table th:nth-child(1) {
  width: 20px;
}

.styled_csv_table td:nth-child(2) {
  width: 20px;
}

.styled_csv_table td {
  width: 20%;
}

.btn i {
  position: relative;
  font-size: 20px;
  top: 4px;
}