@import "base.css";
@import "tabulator.css";

.styled_csv_table {
  width: 100%;
  flex: 1;
  overflow: auto;
  border: solid 1px var(--secondary-color-4);
  margin-bottom: 12px;
  max-height: 50vh;
  min-height: 10vh;
}

.styled_csv_table table {
  width: 100%;
  position: relative;
}

.styled_csv_table table th {
  background-color: var(--background-accent-5);
  /*
  border-right: solid 1px var(--secondary-color-4);
  border-top: solid 1px var(--secondary-color-4);
  border-bottom: solid 1px var(--secondary-color-4);
  */
  border: solid 1px var(--secondary-color-4);
  padding: 4px;
  text-align: center;
  padding-right: 12px;
}

.styled_csv_table table td {
  white-space: pre-wrap;
  background-color: var(--background-accent);
  /*
  border-right: solid 1px var(--secondary-color-4);
  border-bottom: solid 1px var(--secondary-color-4);
  */
  border: solid 1px var(--secondary-color-4);
  padding: 4px;
  padding-right: 12px;
}

.styled_csv_table tr:first-child th {
  position: sticky;
  top: -1px;
}

.styled_csv_table th:nth-child(1) {
  width: 20px;
}

.embedding_options_table td:nth-child(2) {
  padding: 8px;
  width: 25em;
}

.embedding_options_table td:nth-child(1) {
  padding: 8px;
  width: 5em;
}

.embedding_options_table td:nth-child(3) {
  padding: 8px;
  width: 5em;
}


.btn i {
  position: relative;
  font-size: 20px;
  top: 4px;
}

.embedding_query_results_table_wrapper {
  min-height: 10vh;
  min-height: 10vh;
  max-height: 35vh;
  overflow: auto;
  background: var(--background-accent);
}

.embedding_query_results_table_wrapper.styled_csv_table th:nth-child(1) {
  width: 10px;
}

.table_cell_sizer div {
  max-height: 100px;
  overflow: auto;
  padding: 2px;
}

table tr td.table_cell_sizer {
  padding: 0;
  word-break: break-all;
}

.pinecone_status_bar {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.pinecone_status_bar div button {
  margin: -8px;
}

.pinecone_index_count {
  width: 4em;
}

.styled_csv_table table td:nth-child(2),
.styled_csv_table table td:nth-child(3) {
  word-break: break-all;
}

.styled_csv_table table td button {
  word-break: normal;
  white-space: nowrap;
}

#upsert_embedding_tab_view.active.show {
  display: flex;
}

.parse_url_text_results {
  height: 150px;
  margin: 4px;
  width: calc(100% - 16px)
}

.chunked_text_results_table td:nth-child(3),
.chunked_text_results_table th:nth-child(3) {
  width: 6em;
}

.chunked_text_results_table td:nth-child(2),
.chunked_text_results_table th:nth-child(2) {
  width: auto;
}

.tabulator-col-title .check_emoji {
  position: relative;
  font-size: 1.25em;
  top: -4px;
}

.selected_rows_display_span {
  width: 4em;
  display: inline-block;
}

.preview_embedding_documents_table .tabulator-row .tabulator-cell i {
  top: 2px;
  position: relative;
}

.preview_embedding_documents_table .tabulator-row .tabulator-cell .check_emoji {
  position: relative;
}

select.upsert_documents_list.form-select {
  border: 1px solid var(--primary-color-4);
  color: var(--primary-color);
  font-size: 18px;
  background-color: var(--secondary-color);
  padding: 4px;
  padding-left: 8px;
  padding-right: 24px;
  width: 200px;
}

select.upsert_documents_list.form-select:hover,
select.upsert_documents_list.form-select:focus,
select.upsert_documents_list.form-select:active {
  background-color: var(--background-accent-3);
}

.btn_icon {
  border: none;
  background: none;
}

.firebase_record_count_status {
  padding-left: 16px;
  padding-top: 8px;
}

.embedding_second_header_bar {
  padding: 8px;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#upsert_embedding_tab_view {
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.tabulator_documents_border_wrapper {
  flex: 1;
  overflow: auto;
  border: solid 1px var(--secondary-color-4);
}

.pinecone_index_name {
  white-space: nowrap;
  max-width: 100px;
  overflow: hidden;
}

.connected_session_row {
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  margin-bottom: 2px;
  margin-top: 2px;
  border: solid 1px silver;
  display: block;
  text-decoration: none;
}

.header_tool_bar {
  display: flex;
  flex-direction: row;
  line-height: 2.5em;
  padding-bottom: 4px;
}

.header_tool_bar > div {
  padding-left: 4px;
  padding-right: 4px;
}