body,
html {
  min-height: unset;
  height: 100%;
}

.styled_csv_table {
  width: 100%;
  flex: 1;
  overflow: auto;
  border: solid 1px var(--secondary-color-4);
  margin-bottom: 12px;
  max-height: 50vh;
  min-height: 10vh;
}

.styled_csv_table table {
  width: 100%;
  position: relative;
}

.styled_csv_table table th {
  background-color: var(--background-accent-5);
  /*
  border-right: solid 1px var(--secondary-color-4);
  border-top: solid 1px var(--secondary-color-4);
  border-bottom: solid 1px var(--secondary-color-4);
  */
  border: solid 1px var(--secondary-color-4);
  padding: 4px;
  text-align: center;
  padding-right: 12px;
}

.styled_csv_table table td {
  white-space: pre-wrap;
  background-color: var(--background-accent);
  /*
  border-right: solid 1px var(--secondary-color-4);
  border-bottom: solid 1px var(--secondary-color-4);
  */
  border: solid 1px var(--secondary-color-4);
  padding: 4px;
  padding-right: 12px;
}

.styled_csv_table tr:first-child th {
  position: sticky;
  top: -1px;
}

.styled_csv_table th:nth-child(1) {
  width: 20px;
}

.embedding_options_table td:nth-child(2) {
  padding: 8px;
  width: 22em;
}

.btn i {
  position: relative;
  font-size: 20px;
  top: 4px;
}

.upsert_result_status_bar {
  flex: 1;
  padding: 4px;
  padding-left: 20px;
}

.embedding_query_results_table_wrapper {
  min-height: 10vh;
  min-height: 10vh;
  max-height: 35vh;
  overflow: auto;
  background: var(--background-accent);
}

.embedding_query_results_table_wrapper.styled_csv_table th:nth-child(1) {
  width: 10px;
}

.table_cell_sizer div {
  max-height: 100px;
  overflow: auto;
  padding: 2px;
}

table tr td.table_cell_sizer {
  padding: 0;
  word-break: break-all;
}

.pinecone_index_stats_display {
  white-space: pre-wrap;
  display: none;
}

.pinecone_status_bar {
  display: inline-flex;
  flex-direction: row;
  text-align: left;
  width: auto;
}

.pinecone_index_name {
  flex: 1;
}

.pinecone_index_count {
  width: 4em;
}

.styled_csv_table table td:nth-child(2),
.styled_csv_table table td:nth-child(3) {
  word-break: break-all;
}

.styled_csv_table table td button {
  word-break: normal;
  white-space: nowrap;
}

#upsert_embedding_tab_view.active.show {
  display: flex;
}

.parse_stretch_div {
  display: flex;
  flex-direction: row;
}

.parse_stretch_div div {
  padding: 8px;
}
