.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus i,
.navbar-light .navbar-nav .nav-link:hover i,
.navbar-light .navbar-nav .nav-link:focus svg,
.navbar-light .navbar-nav .nav-link:hover svg {
    color: var(--highlight);
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    background-color: var(--secondary-color-2);
}

.mobile_custom_icon_label i {
    position: relative;
    font-size: 48px;
}

.navbar-light .navbar-nav .nav-link.profile_menu_anchor {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 4px;
}

.mobile_custom_icon_label {
    display: inline-block;
}

.navbar-brand img {
    width: 100px;
    position: relative;
    top: -4px;
}

.member_profile_name {
    position: relative;
    left: 6px;
}

.menu_profile_user_image_span {
    border-radius: 12px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 2px;
}

@media (min-width: 992px) {
    .menu_profile_user_image_span {
        float: none;
        display: inline-block;
    }
}

.mobile_custom_icon_label i {
    top: 3px;
    position: relative;
    font-size: 36px;
}

.mobile_custom_icon_label .add_icon {
    font-size: 36px;
}

.shared_status_not {
    color: var(--primary-color-3);
}

button.shared_status_withusers,
.shared_status_withusers,
.shared_status_withusers.hover_yellow {
    color: var(--shared_status_owner);
}

button.shared_status_withothers,
.shared_status_withothers,
.shared_status_withothers.hover_yellow {
    color: var(--shared_status_user);
}

.navbar-light .navbar-toggler {
    position: fixed;
    right: 4px;
    z-index: 1000;
    top: 10px;
    color: var(--primary-color-2);
    border-color: transparent;
}

.navbar-light .navbar-toggler span {
    font-size: 2em;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
    color: var(--primary-color-2);
}

.member_online_status {
    border-radius: 100%;
    width: 14px;
    height: 14px;
    background: var(--secondary-color-2);
    border: solid 1px var(--primary-color-3);
    display: inline-block;
    align-self: center;
    position: relative;
    left: -10px;
    top: 8px;
    transition: background-color 1s linear;
}

.notransition .member_online_status {
    transition: none;
}

.member_online_status.online {
    background: var(--member-online-yellow);
}

.member_online_status.online.activesession {
    background: var(--member-online-green);
}

.navbar_wrapper {
    z-index: 100;
    width: 100%;
    font-size: 18px;
    min-height: 60px;
}

.navbar_wrapper .navbar {
    max-width: 1100px;
    min-height: 70px;
    padding-left: 12px;
    display: inline-flex;
    width: 100%;
}

@media (min-width: 992px) {
    .navbar_wrapper .navbar {
        width: 90%;
    }
}

.day_mode .navbar_wrapper {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-bottom: 1px solid rgba(127, 127, 127, .4);
}

.header_tabs {
    text-align: center;
    display: inline-flex;
    flex: 1;
    width: 100%;
    padding-left: 8px;
    font-size: 12px;
}

.header_tabs li a {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
}

i.copy_green {
    color: var(--member-online-green);
}

.nav-item a:hover {
    color: var(--highlight);
}

.navbar_brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: var(--primary-color-3);
    font-weight: 600;
    text-decoration: none;
    padding: 2px;
    height: 60px;
    display: block;
}

.navbar_logo {
    width: 46px;
    height: 46px;
    background-size: contain;
    background-position: center center;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-image: url('/images/logo64.png');
    top: 2px;
}

.home_navbar_name_color {
    color: var(--impact-green);
}

.home_navbar_name {
    top: -6px;
    color: var(--primary-color);
}

.home_navbar_name:hover {
    color: var(--primary-color);
}

.dashboard_user_image {
    margin-left: 8px;
    margin-right: 2px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 6px;
    flex: none;
}

.tab_label {
    position: relative;
    top: 0;
    font-size: 16px;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}

.account_status_display {
    color: var(--primary-color);
    white-space: nowrap;
    display: inline-flex;
    text-decoration: none;
}

.signed_in_anonymous .account_status_display {
    opacity: 0;
}

.credits_left {
    text-align: right;
    min-width: 3em;
    font-size: 12px;
    padding-top: 4px;
    display: inline-block;
    white-space: nowrap;
    align-self: center;
}

.credits_left span {
    font-size: .9em;
    display: inline-block;
    position: relative;
    top: -2px;
}


.navbar_profile_li {
    display: none;
}

.nav_signin_li {
 padding-right: 8px;
}

.navbar_logo_li {
    margin-left: 4px;
}

.account_status_display {
    width: 50px;
    margin-left: -20px;
}

.header_tabs .nav-link.active {
    cursor: default;
}

@media(min-width: 768px) {
    .account_status_display {
        width: 70px;
    }

    .navbar_profile_li {
        display: list-item;
        width: 70px;
    }
}