html,
body {
  background: rgb(40, 50, 84);
  color:rgb(217, 217, 227);
  
}


.help_content table {
  color: rgb(217, 217, 227);
}

.help_content table td {
  color: rgb(217, 217, 227);
}
.alert {
  display: inline-block;
}

.alert-info {
  background-color: rgb(32, 33, 35);
}

.navbar.navbar-expand-lg {
  display: flex;
}

#sidebarCollapse {
  display: inline-block;
  position: fixed;
  top:4px;
  right: 4px;
  padding: 8px;
  z-index: 999;
  border-radius: 8px;
  background-color: rgba(40, 50, 84, 0.25);
}

section {
  padding-top: 20px;
}

@media (min-width: 992px) {
  .navbar.navbar-expand-lg {
    display: none;
  }
  #sidebarCollapse {
    display: none;
  }
}