html {
  overflow-y: scroll;
}

.day_mode .main_block,
.day_mode .side_block {
  border: solid 1px var(--options-tab-color);
  background-color: var(--modal-background);
}

.main_block {
  background-color: var(--home-panel-background);
  border-radius: 6px;
  padding: .5em;
  margin-bottom: .75em;
  flex: 1;
}

.side_block {
  display: flex;
  flex-direction: column;
  background-color: var(--home-panel-background);
  border-radius: 6px;
  padding: .5em;
  margin-bottom: .75em;
  flex: 2;
}


.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 3em;
  border-radius: 6px;
  color: var(--primary-color-1);
  flex: 1;
}

.coming-soon .coming-soon-header {
  color: var(--primary-color-2);
  font-weight: 300;
  margin-bottom: 1.5em;
}

.coming-soon p,
.coming-soon li {
  text-align: left;
}

.coming-soon strong {
  color: var(--highlight);
}

.header_recent_document {
  color: var(--primary-color);
  font-size: 1.75em;
  text-align: left;
  padding-left: 4px;
  font-weight: 500;
  margin-bottom: .5em;
}


/** from AI chat **/

ul.recent_documents_list li {
  position: relative;
  margin-bottom: 0.25em;
  text-align: left;
  position: relative;
  margin-right: 12px;
}

ul.recent_documents_list li a {
  display: block;
  color: var(--primary-color-2);
  padding-top: 4px;
  padding-bottom: 4px;
  height: 2em;
  overflow: hidden;
  text-decoration: none;
}

.recent_documents_list .activity_date {
  background-color: var(--recent-document-activity-date);
  position: absolute;
  right: -10px;
  top: 2px;
  border-radius: 5px;
  z-index: 100;
  padding: 2px 8px;
}

/** from AI chat **/
.template_list_wrapper {
  padding-left: 0px;
}

.template_list_wrapper li {
  min-height: 2.25em;
  width: 100%;
  display: block;
}

.template_list_wrapper li a {
  color: var(--impact-font);
  text-decoration: none;
  display: block;
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 1.1em;
  padding-left: 8px;
  padding-right: 4px;
  line-height: 1.4em;
}

.template_list_wrapper li a span {
  font-size: 0.8em;
  text-decoration: underline;
}

.template_list_wrapper li a .caption.inprogress {
  text-decoration: none;
}

.template_list_wrapper li .caption {
  text-align: left;
  color: var(--primary-color-2);
}

.template_list_wrapper li .caption {
  color: var(--primary-color-2);
}

.impact_font_green {
  color: var(--impact-green);
}

.impact_font_change {
  color: var(--change);
}


.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex_change_responsive {
  display: flex;
  flex-direction: row;
}


@media (max-width: 991px) {
  .faq {
    flex-direction: column;
  }

  .flex_change_responsive {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .coming-soon {
    padding: 0em;
  }

  .coming-soon-descr {
    font-size: 1.2em;
  }

  .header_recent_document {
    font-size: 1.5em;
  }

  .help-buttons button {
    font-size: 14px;
  }
}

.nav-link.show_create_modal.hover_yellow svg {
  top: -6px;
  left: 3px;
}

.show_create_modal .menu_dropdown_label_wrapper {
  top: -6px;
}

#navbarSupportedContent.navbar-collapse {
  text-align: left;
  padding-left: 12px;
}

@media (min-width: 992px) {
  .main_block {
    margin: 0.3em;
  }

  .side_block {
    margin: 0.3em;
  }

  #navbarSupportedContent.navbar-collapse {
    display: inline-flex !important;
    width: 900px;
  }

  .footer_container_div {
    margin: 0.3em;
  }
}

@media (min-width: 1200px) {
  #navbarSupportedContent.navbar-collapse {
    display: inline-flex !important;
    width: 1075px;
  }
}

@media (min-width: 1400px) {
  #navbarSupportedContent.navbar-collapse {
    display: inline-flex !important;
    width: 1250px;
  }
}


.menu_logo_image {
  width: 40px;
  display: none;
}

@media (min-width: 992px) {
  .menu_logo_image {
    display: block;
  }

  .mobile_full_menu_logo_image {
    width: 120px;
    display: none;
  }
}

.intro_card {
  padding: 6px;
  text-align: left;
  display: block;
  flex: 1;
  overflow: auto;
}

.supported_model {
  color: var(--document-title);
}

.upcoming_model {
  color: var(--options-tab-color);
}

.main_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 62px;
}

.homepage_content {
  display: none;
}

.session_feed_inited .homepage_content,
.app_signed_out .homepage_content {
  display: flex;
}

@media (max-width: 991px) {
  .main_container {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .main_container {
    max-width: none;
  }
}

#mc_embed_signup {
  clear: left;
  max-width: 600px;
}

#mc-embedded-subscribe.button {
  background-color: var(--impact-green);
  color: var(--secondary-color);
}

.prompt_log_display {
  margin: 12px;
  font-family: "MonospaceTTF";
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: left;
}

.prompt_log_display .assist {
  color: var(--prompt-assist);
  white-space: pre-wrap;
}

.prompt_log_display .prompt {
  color: var(--primary-color);
  white-space: pre-wrap;
}

.nav-item a:hover {
  color: var(--highlight);
}

.navbar_brand {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
  color: var(--primary-color-3);
  font-weight: 600;
  text-decoration: none;
  padding: 2px;
  height: 60px;
  display: block;
}

.navbar_logo {
  width: 46px;
  height: 46px;
  background-size: contain;
  background-position: center center;
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  background-image: url('/images/logo64.png');
  top: 2px;
}

.home_logo_mobile_only {
  margin-left: 20px;
}

@media (min-width: 768px) {
  .home_logo_mobile_only {
    margin-left: 20px;
    display: inline-block;
  }
}

.home_logo_mobile_only a:hover {
  color: var(--primary-color);
}

.home_navbar_name_color {
  color: var(--impact-green);
}

.home_navbar_name {
  top: -6px;
  color: var(--primary-color);
}

.home_navbar_name:hover {
  color: var(--primary-color);
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.document_name {
  flex: 1;
  text-align: left;
  max-height: 3em;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
  color: var(--primary-color);
}

.document_status {
  display: block;
  clear: both;
  white-space: nowrap;
  overflow: visible;
  align-self: center;
  min-width: 3.25em;
  padding-left: 0.25em;
}

.list-group-item-action:focus {
  background-color: var(--background-accent-2);
}

.list-group-item-action {
  background-color: var(--home-panel-background);
}

.session_ticket_count {
  color: var(--document-title);
  margin: auto;
  width: 3em;
  font-family: "MonospaceTTF";
  white-space: nowrap;
  font-size: .9em;
}

.unused_chatroom_title_placeholder {
  font-style: italic;
  opacity: .85;
}

.document_shared_status_icon_wrapper {
  background: none;
  border-color: transparent;
  position: relative;
  align-self: center;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: -16px;
  margin-bottom: -16px;
}

.profile_text_option_large .document_shared_status_icon_wrapper {
  padding-top: 28px;
  padding-bottom: 28px;
  margin-top: -32px;
  margin-bottom: -32px;
}

.document_shared_status_icon_wrapper span {
  position: relative;
  top: 4px;
}

.no_games_in_dashboard {
  display: none;
}

.games_view_wrapper {
  display: none;
}

.documents_feed_loaded .games_view_wrapper {
  display: block;
}

.no_documents_in_feed .games_view_wrapper {
  display: none;
}

.no_documents_in_feed .no_games_in_dashboard {
  display: block;
}

.game_lobby {
  margin: auto;
  width: 100%;
}

.show_clear_label_filter .document_label_filter.form-select {
  background-color: var(--background-accent-3);
  border: solid 1px var(--primary-color-4);
}

.show_clear_label_filter .document_label_filter.form-select:hover,
.show_clear_label_filter .document_label_filter.form-select:focus,
.show_clear_label_filter .document_label_filter.form-select:active {
  background-color: var(--secondary-color);
}

.games_view_header_wrapper {
  padding-left: 0;
  padding-right: 0;
  text-align: right;
  visibility: hidden;
  display: inline-block;
  margin: 0px;
  margin-bottom: 12px;
  max-width: calc(100% - 86px);
  padding-top: 12px;
  padding-left: 4px;
}

.documents_feed_loaded .games_view_header_wrapper {
  visibility: visible;
}

.menu_profile_name_spacer {
  flex: 1;
  display: none;
}

.dashboard_create_game_mobile {
  margin-right: 80px;
  margin-left: 8px;
}

.session_shared_column {
  width: 100px;
  display: none;
  max-height: 3.3em;
  overflow: hidden;
  margin-top: -3px;
  text-align: left;
  margin-bottom: -8px;
  text-align: center;
  white-space: nowrap;
  align-self: center;
}

.session_labels_column {
  width: 250px;
  display: none;
  max-height: 3.3em;
  overflow: hidden;
  margin-top: -10px;
  text-align: left;
  margin-bottom: -8px;
  text-align: center;
  align-self: center;
}

@media (min-width: 850px) {
  .session_labels_column {
    display: block;
  }
}

@media (min-width: 1050px) {
  .session_shared_column {
    display: block;
  }
}

@media (min-width: 992px) {
  .dashboard_create_game_mobile {
    display: none;
  }

  .menu_profile_name_spacer {
    display: block;
  }
}

.shared_status_not {
  color: var(--primary-color-3);
}

.promptplus_dashboard_page .show_threshold_dialog {
  display: none;
}

.dashboard_session_chip {
  display: inline-block;
  margin: 2px;
  margin-top: 0;
  border-radius: 20px;
  padding: 2px 10px;
  color: var(--primary-color-4);
  border: solid 1px var(--secondary-color-3);
  font-size: 0.75em;
}

.document_list_item {
  display: block;
  min-height: 3.75em;
  display: flex;
  flex-direction: row;
  color: var(--primary-color-2);
  padding-left: 0;
  padding-right: 0;
  background-color: var(--background-accent);
  margin-top: 0.35em;
  margin-bottom: .35em;
}

.day_mode .document_list_item {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.profile_text_option_large .document_name {
  font-size: 1.3em;
  line-height: 1.75em;
  max-height: 3.5em;
}

.profile_text_option_large .document_list_item {
  min-height: 5.6em;
}

.profile_text_option_large .session_labels_column {
  font-size: 1.3em;
}

.navbar-nav .nav-item {
  white-space: nowrap;
}

.dashboard_user_image {
  margin-left: 8px;
  margin-right: 2px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 6px;
  flex: none;
}

.dashboard_user_name {
  white-space: nowrap;
  overflow: hidden;
}

.nav-link.dashboard_create_game_mobile.hover_yellow svg {
  top: -2px;
}

.count_status_wrapper {
  align-self: center;
}

.menu_dropdown_label_wrapper.menu_profile_user_name_span {
  margin-left: 4px;
}

.menu_profile_user_image_span {
  display: inline-block;
  position: relative;
  top: 2px;
}

.document_list_item .delete {
  display: none;
}

.dashboard_feed_owner_user.document_list_item .delete {
  display: block;
}

.dashboard_feed_owner_user.document_list_item .leave {
  display: none;
}

.dashboard_documents_view .list-group-item {
  border: 1px solid var(--home-panel-background);
}

.day_mode .dashboard_documents_view .list-group-item {
  border: 1px solid rgba(0, 0, 0, .175);
}

.dashboard_documents_view .list-group-item:hover,
.dashboard_documents_view .list-group-item:focus,
.dashboard_documents_view .list-group-item:active {
  border: 1px inset var(--primary-color-3);
  background-color: var(--background-accent-1);
}

.day_mode .dashboard_documents_view .list-group-item:hover,
.day_mode .dashboard_documents_view .list-group-item:focus,
.day_mode .dashboard_documents_view .list-group-item:active {
  background-color: var(--background-accent-2);
  border: 1px solid var(--primary-color-4);
}


.dropstart .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0;
  vertical-align: 0;
  content: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.btn.btn-secondary.dropdown-toggle.dashboard_menu_toggle {
  background: none;
  border: none;
  border-left: solid 1px var(--secondary-color);
  border-radius: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: -3px;
  margin-bottom: -3px;
  border-radius: 8px;
}

.btn.btn-secondary.dropdown-toggle.dashboard_menu_toggle {
  border-left: none;
}

.btn.btn-secondary.dropdown-toggle.dashboard_menu_toggle.show {
  background: var(--secondary-color);
}

.dashboard_menu_toggle i {
  top: 4px;
  position: relative;
  color: var(--primary-color);
}

.navbar_wrapper {
  height: 66px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.navbar_wrapper .navbar {
  max-width: 1100px;
  min-height: 70px;
  padding-left: 12px;
  display: inline-flex;
  width: 100%;
}

@media (min-width: 992px) {
  .navbar_wrapper .navbar {
    width: 90%;
  }
}

.session_shared_column .member_profile_name {
  font-size: 10px;
}

.day_mode .dropdown-menu {
  background-color: rgb(245, 245, 245);
}

.dropdown-menu.show button {
  font-size: 1.25em;
  padding-top: 8px;
  padding-bottom: 8px;
}

.dropdown-menu i {
  top: 6px;
  position: relative;
}

.dropdown-menu.dropdown-menu-dark .delete i,
.day_mode .dropdown-menu.dropdown-menu-dark .delete i,
.dropdown-menu.dropdown-menu-dark .leave i,
.day_mode .dropdown-menu.dropdown-menu-dark .leave i {
  color: var(--warning);
}

.day_mode .dropdown-menu-dark .dropdown-item,
.day_mode .dropdown-menu-dark .dropdown-item i {
  color: var(--secondary-color);
}

.session_shared_column .member_profile_name {
  left: 0;
  margin-top: 4px;
}

.open_button_wrapper {
  display: inline-block;
}

.navbar-light .navbar-toggler.menu_toggle_button {
  background: none;
  top: 9px;
}

.dashboard_menus_list li i {
  visibility: hidden;
  position: relative;
  left: -6px;
}

.dashboard_menus_list li.selected i {
  visibility: visible;
}

.tab-pane {
  width: 100%;
}

.navbar-nav .nav-link.showhomepage_help {
  padding: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--primary-color-2);
}

.mobile_custom_icon_label i {
  position: relative;
  font-size: 48px;
}


.navbar-light .navbar-nav .nav-link.profile_menu_anchor {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
}

.showhomepage_help .mobile_custom_icon_label {
  padding-bottom: 4px;
}

.showhomepage_help .mobile_custom_icon_label i {
  top: 6px;
}

.header_tabs {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  padding-left: 8px;
  font-size: .8em;
}

.header_tabs li {
  flex: 1;
  max-width: 5em;
}


.header_tabs li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.tab_label {
  display: none;
  font-size: 1.1em;
  position: relative;
}

.tab_label::before {
  content: "";
  position: absolute;
  bottom: -2px; /* Adjust to position the underline */
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--highlight); /* underline color */
  opacity: 0; /* hidden initially */
  width: 0%; /* initially no width */
  transition: width 0.3s ease, opacity 0.3s ease;
}

.header_tabs li .material-icons {
  font-size: 2.5em;
  margin-bottom: 4px;
}

.nav-pills .nav-link {
  filter: grayscale(90%);
}

.navbar-light .nav .nav-link.active,
.nav .nav-link.active,
.nav .show>.nav-link {
  background-color: transparent;
  color: var(--highlight);
  border-bottom: solid 1px var(--highlight);
}


.day_mode .nav-pills .nav-link.active,
.day_mode .nav-pills .show>.nav-link {
  background-color: var(--secondary-color);
  color: var(--highlight);
  line-height: initial;
}

/* Underline styles when its parent nav link is active */
.nav .nav-link.active .tab_label::before,
.nav .nav-link:hover .tab_label::before  {
  width: 100%; /* Full width to show the underline */
  opacity: 1; /* Fully visible */
}



.sessions_list_loading_panel {
  font-size: 2em;
  padding: 2em;
}

.list_loaded .sessions_list_loading_panel {
  display: none;
}

.filter_bar_wrapper {
  opacity: 0;
  text-align: left;
  padding-left: 0px;
  display: flex;
  position: sticky;
  top: 62px;
  z-index: 90;
  background: var(--background-accent-3);
  margin-right: -2px;
  margin-left: -2px;
  padding-left: 2px;
  padding-right: 2px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.list_loaded .filter_bar_wrapper {
  opacity: 1;
}


.overflow_container {
  max-height: 50vh;
}

.pricing-section {
  width: 100%;
  padding: 12px;
  color: var(--primary-color);
}

.price_table {
  width: 100%;
  border-collapse: collapse;
}

.price_table th,
.price_table td {
  padding: 10px;
  border: 1px solid var(--primary-color-4);
}

.price_table td {
  font-family: "MonospaceTTF";
}

.token-info {
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 991px) {
  .overflow_container {
    max-height: 50vh;
  }
}


.models_api_panel li {
  display: block;
}

.features_tips_panel i {
  position: relative;
  top: 16px;
  color: var(--primary-color);
}

.features_tips_panel .gear_icon {
  color: var(--primary-color);
  position: relative;
  top: 8px;
}

.features_tips_panel a {
  font-size: 1.1em;
  color: var(--document-title);
  padding-bottom: 6px;
}

.features_tips_panel li {
  display: block;
  line-height: 1.5em;
  margin-top: 6px;
  margin-bottom: 6px;
}

.cta_panel {
  width: 100%;
  text-align: center;
}

.cta_panel a {
  background-color: var(--member-online-green);
  font-size: 1em;
}

h3.cta_panel {
  color: var(--primary-color-1);
}

.clone_session_link {
  color: var(--primary-color-2);
}

h3,
ol li {
  color: var(--primary-color);
}

.header_tabs a {
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  max-width: 5em;
}

.account_status_display {
  color: var(--primary-color);
  white-space: nowrap;
  display: inline-flex;
  text-decoration: none;
}

.signed_in_anonymous .account_status_display {
  opacity: 0;
}

.credits_left {
  font-family: "MonospaceTTF";
  text-align: right;
  min-width: 3em;
  font-size: .9em;
  padding-top: 7px;
  display: inline-block;
  white-space: nowrap;
  align-self: center;
}

.credits_left span {
  font-size: .75em;
  display: inline-block;
  position: relative;
  top: -6px;
}

.home_page_tabs {
  display: flex;
  flex: 1;
}

.homepage.homepage_tab_selected_1 .footer_container_div {
  display: none;
  opacity: 0;
}

.footer_container_div {
  margin-bottom: 0;
}

.homepage .footer_container_div {
  transition: opacity 1.5s ease-in;
  opacity: 0;
}

.homepage.homepage_tab_selected_0 .footer_container_div {
  opacity: 1;
}

.video_wrapper {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
}

.video_wrapper img {
  border-radius: 12px;
  width: 100%;
  display: inline-block;
}

.hero_news_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0;
  padding-bottom: 4em;
}

.homepage_section {
  padding: 4em 0;
}

.recent_content_flyers_ul_list img {
  max-width: 50%;
  height: auto;
  margin: 4px;
  border-radius: 8px;
}

.recent_content_flyers_ul_list {
  max-height: 60vh;
  border-radius: 8px;
  padding: 6px;
  padding-top: 0;
  text-align: left;
  flex: 1;
  overflow: auto;
  margin-bottom: 0;
}

.recent_content_flyers_ul_list li {
  width: 100%;
  list-style: none;
}

.nite_mode .recent_content_flyers_ul_list {
  background-color: var(--home-panel-background);
}

.recent_content_flyers_ul_list a {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.recent_content_flyers_ul_list a .title {
  text-decoration: underline;
  font-size: 18px;
  font-weight: 600;
}

.recent_content_flyers_ul_list .date {
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 30px;
}

.recent_content_flyers_ul_list .caption {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 200px;
}

.main_block .list-group-item,
.recent_content_flyers_ul_list .news_group_item {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  padding: 0;
  background-color: var(--background-accent);
}

.feature_group_list .feature_group_item,
.recent_content_flyers_ul_list .news_group_item {
  border: none;
  border-radius: 8px;
  margin: .2em 0;
  border: solid 1px var(--options-tab-color);
}

.feature_group_list .feature_group_item a,
.recent_content_flyers_ul_list .news_group_item a {
  padding: .5em;
}


.nite_mode .recent_content_flyers_ul_list .news_group_item {
  background-color: var(--home-panel-background);
  border: solid 1px var(--options-tab-color);
}

.session_cta {
  height: 90vh;
  margin-top: 1.5vh;
}

.session_cta img {
  width: 40px;
  height: auto;
}

.feature_group_list {
  font-size: 0.9em;
  max-height: 60vh;
  border-radius: 8px;
  padding: 6px;
  padding-top: 0;
  text-align: left;
  flex: 1;
  overflow: auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.feature_group_list .feature_group_item {
  width: 150px;
  height: 245px;
  list-style: none;
  flex-flow: row wrap;
  margin: .2em;
}


.nite_mode .feature_group_list {
  background-color: var(--home-panel-background);
}

.feature_group_list .feature_group_item a {
  margin: 4px 0;
  width: 150px;
  height: 245px;
  padding: .5em .1em; 
  text-decoration: none;
  list-style: none;
}

.feature_group_list .feature_group_item .feature_name {
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
}

.homepage_header {
  color: var(--primary-color);
}


@media(min-width: 450px) {

}


@media (min-width: 768px) {
  .tab_label {
    display: block;
  }
  .header_tabs li .material-icons  {
    margin-bottom: 0;
    font-size: 1.5em;
    text-decoration: none;
  }
  .navbar-light .nav .nav-link.active,
  .nav .nav-link.active,
  .nav .show>.nav-link {
    border-bottom: none;
  }

}


@media (min-width: 992px) {
  .video_wrapper img {
    width: 80%;
  }

  .recent_content_flyers_ul_list a .title {
    font-size: 24px;
  }

  .recent_content_flyers_ul_list .caption {
    font-size: 22px;
  }

  .recent_content_flyers_ul_list .news_group_item {
    margin: .2em;
  }

  .recent_content_flyers_ul_list .news_group_item a {
    padding: .75em;
  }
  
  .recent_content_flyers_ul_list li {
    width: 49%;
  }

  .recent_content_flyers_ul_list {
    flex-flow: column wrap;
  }

  .hero_news_container {
    margin-bottom: .5em;
  }
}

@media (min-width: 1200px) {
  .video_wrapper img {
    width: 70%;
  }

  .recent_content_flyers_ul_list a .title {
    font-size: 28px;
  }

  .recent_content_flyers_ul_list img {
    max-width: 60%;
    height: auto;
  }

  .recent_content_flyers_ul_list .caption {
    font-size: 22px;
  }

  .recent_content_flyers_ul_list .news_group_item a {
    padding: 1em;
  }

  .recent_content_flyers_ul_list .date {
    font-size: 16px;
    position: relative;
    top: 8px;
  }
}

@media (min-width: 1400px) {
  .video_wrapper img {
    width: 60%;
  }

  .recent_content_flyers_ul_list li {
    width: 32.6%;
  }
}