
.coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin: 0;
  padding: 0;
}

.coming-soon h1 {
  color:rgb(255, 255, 255);
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.coming-soon-descr {
  margin-bottom: 30px;
  color:rgb(255, 255, 255);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.header_recent_document {
  color:rgb(211, 211, 211);
  font-size: 1.3rem;
  text-align: left;
}

.cta {
  color: #fff;
  font-size: 24px;
  padding: 10px 50px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

.cta:hover {
  color: #005AA7;
}

.coming-soon h4 {
  color:rgb(255, 255, 255);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.help-buttons {
  display: flex;
  justify-content: center;
}

.help-buttons button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  padding: 0;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.help-buttons button:hover {
  color: #0096FF;
}
