.main_block {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  flex: 1;
}

@media (min-width: 992px) {
  .main_block {
    margin: 0.5rem;
  }
}

.homepage_display_header {
  color: rgba(28, 228, 60, 0.8);
  letter-spacing: 0.1em;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  text-align: center;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 3rem;
  border-radius: 6px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
  flex: 1;
}

.coming-soon .coming-soon-header {
  color: rgb(220, 220, 220);
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.coming-soon-descr {
  margin-bottom: 30px;
  color: #198754;
  font-size: 1.5rem;
}

.coming-soon p,
.coming-soon li {
  text-align: left;
}

.coming-soon strong {
  color: rgb(255, 255, 0);
}

.header_recent_document {
  color: #fff;
  font-size: 1.75rem;
  text-align: left;
  padding-left: 4px;
  font-weight: 500;
  margin: 1rem 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cta {
  color: #fff;
  font-size: 24px;
  padding: 10px 50px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

.cta:hover {
  color: #005AA7;
}


.help-buttons {
  display: flex;
  justify-content: center;
}

.help-buttons button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  padding: 0;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.help-buttons button:hover {
  color: #0096FF;
}

/** from AI chat **/

ul.recent_documents_list li {
  position: relative;
  margin-bottom: 0.25rem;
  text-align: left;
  position: relative;
  margin-right: 12px;
}

ul.recent_documents_list li a {
  display: block;
  color: rgb(230, 230, 230);
  padding-top: 4px;
  padding-bottom: 4px;
  height: 2em;
  overflow: hidden;
  text-decoration: none;
}

.recent_documents_list .activity_date {
  background-color: rgb(15, 92, 30);
  position: absolute;
  right: -10px;
  top: 2px;
  border-radius: 5px;
  z-index: 100;
  padding: 2px 8px;
}

/** from AI chat **/


.profile_menu_anchor {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.template_list_wrapper {
}

.template_list_wrapper li {
  margin-bottom: .25rem;
  width: 100%;
}

.template_list_wrapper li a {
  color: rgb(255, 255, 0);
  text-decoration: none;
  min-height: 2em;
  display: block;
  text-align: left;
}

.template_list_wrapper li .caption {
  text-align: left;
  color: rgb(230, 230, 230);
}

.side_block {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  flex: 2;
}

@media (min-width: 992px) {
  .side_block {
    margin: 0.5rem;
  }
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex_change_responsive {
  display: flex;
  flex-direction: row;
}

@media (max-width: 991px) {
  .faq {
    flex-direction: column;
  }

  .profile_menu_anchor .menu_profile_user_image_span {
    top: -2px;
  }

  .flex_change_responsive {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .coming-soon {
    padding: 1rem;
  }

  .coming-soon-descr {
    font-size: 1.2rem;
  }

  .header_recent_document {
    font-size: 1.5rem;
  }

  .cta {
    font-size: 16px;
    padding: 10px 30px;
  }

  .help-buttons button {
    font-size: 14px;
  }
}

.nav-link.show_create_modal.hover_yellow svg {
  top: -6px;
  left: 3px;
}

.show_create_modal .menu_dropdown_label_wrapper {
  top: -2px;
}

#navbarSupportedContent.navbar-collapse {
  text-align: left;
  padding-left: 12px;
}

@media (min-width: 992px) {
  #navbarSupportedContent.navbar-collapse {
    display: inline-flex !important;
    width: 900px;
  }
}

@media (min-width: 1200px) {
  #navbarSupportedContent.navbar-collapse {
    display: inline-flex !important;
    width: 1075px;
  }
}

@media (min-width: 1400px) {
  #navbarSupportedContent.navbar-collapse {
    display: inline-flex !important;
    width: 1250px;
  }
}

.home_logo_mobile_only {
  display: none;
}

@media (min-width: 992px) {
  .home_logo_mobile_only {
    display: block;
  }
}

.menu_logo_image {
  width: 110px;
  display: block;
}

.intro_card {
  padding: 8px;
  text-align: left;
  display: block;
  flex: 1;
  font-size: 1.2em;
}

.supported_model {
  color: rgb(50, 255, 50);
  margin-left: 8px;
}

.upcoming_model {
  color: rgb(255, 127, 50);
  margin-left: 8px;
}

@media (max-width: 991px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: none;
  }
}

.profile_text_option_large ul.recent_documents_list {
  font-size: 1.5em;
  line-height: 1.65em;
}

#mc_embed_signup {
  clear: left;
  max-width: 600px;
}

#mc-embedded-subscribe.button {
  background-color: rgb(50, 255, 50);
  color: black;
}