.scrollable_modal .modal-content {
  flex: 1;
  overflow: hidden;
}

.scrollable_modal .modal-dialog {
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.scrollable_modal .modal-body {
  overflow: auto;
}

.export_data_popup_preview {
  background: inherit;
  color: inherit;
  width: 100%;
  height: 150px;
  overflow: auto;
  border: solid rgb(50, 220, 50) 1px;
  padding: 4px;
}

.json_preview.export_data_popup_preview,
.text_preview.export_data_popup_preview {
  white-space: pre-wrap;
}

.csv_preview.export_data_popup_preview {
  white-space: pre;
}


.export_bottom_bar {
  text-align: right;
}

.modal_options_shared_user #owner_tab_view,
.modal_options_shared_user #owner_tab_button {
  display: none;
}

.modal_options_owner_user .leave_game {
  display: none;
}

.modal_options_shared_user .delete_game {
  display: none;
}

.shared_archived_status_wrapper {
  line-height: 2em;
  font-weight: bold;
  font-size: 1.5em;
}

.modal_options_owner_user .shared_archived_status_wrapper {
  display: none;
}

.owner_archived_input_wrapper {
  display: inline-block;
  width: auto;
}

.modal_options_shared_user .owner_archived_input_wrapper {
  display: none;
}

.owner_usage_limit_wrapper {
  display: inline-block;
  width: auto;
}

.modal_options_shared_user .owner_usage_limit_wrapper {
  display: none;
}

.shared_usage_limit_div {
  line-height: 2em;
  font-weight: bold;
  font-size: 1.5em;
}

.modal_options_owner_user .shared_usage_limit_div {
  display: none;
}

#editDocumentModal textarea.document_title.form-control {
  height: 125px;
}

.create_modal_note_field,
.create_modal_title_field {
  width: 100%;
}

.code_link_href {
  line-height: 2em;
  color: unset;
  display: none;
}

.prompt-text {
  font-weight: bold;
  white-space: pre-wrap;
}

.completion-text {
  white-space: pre-wrap;
}

.copy_export_clipboard {
  padding-bottom: 0;
}

.code_link_copy i {
  position: relative;
  top: 5px;
}

.help_viewer_iframe {
  width: 100%;
  height: 400px;
}

.help_helper_wrapper {
  background: #5c636a;
  color: rgb(240, 240, 240);
}

.show_import_tickets_help,
.show_export_tickets_help,
.show_document_details_options_help,
.show_create_dialog_help,
.show_modal_profile_help,
.show_document_owner_options_help {
  background: none;
  position: absolute;
  right: 5px;
  top: 0px;
}

.show_create_dialog_help,
.show_modal_profile_help {
  top: -5px;
  right: -5px;
  position: relative;
  float: right;
}

.show_import_tickets_help i,
.show_document_owner_options_help i,
.show_document_details_options_help i,
.show_create_dialog_help i,
.show_modal_profile_help i,
.show_export_tickets_help i {
  position: relative;
  top: 4px;
  color: white;
}

.tab-content {
  position: relative;
}

.select2-container {
  z-index: 100000;
}

#document_usage_cap_field {
  width: 150px;
}

.select2-dropdown.select2-dropdown--below {
  top: -10px;
  left: -10px;
  color: rgb(0, 200, 0);
  background: black;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: rgb(52, 53, 65);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5c636a;
}

.profile_display_name {
  width: 175px;
}

.randomize_name {
  position: relative;
  top: -3px;
}

.profile_display_image {
  width: 64px;
  height: 64px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 10px;
  padding-top: 100px;
}

.app_panel.modal-content label {
  color: rgb(50, 220, 50);
}

.sign_out_button,
.delete_game {
  color: rgb(255, 0, 0);
  background-color: rgb(52, 53, 65);
}

.profile_display_image_preset
{
  width: 100%;
  display: inline-block;
}

.modal .modal-dialog .btn-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' stroke='rgb%28240,240,240%29' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.modal .modal-header,
.modal .modal-footer {
  border-color: rgb(50, 120, 50);
}