.scrollable_modal .modal-content {
  flex: 1;
  overflow: hidden;
}

.scrollable_modal .modal-dialog {
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.scrollable_modal .modal-body {
  overflow: auto;
}

.export_data_popup_preview {
  background: inherit;
  color: inherit;
  width: 100%;
  min-height: 5em;
  flex: 1;
  overflow: auto;
  padding: 8px;
  margin-top: 12px;
  background-color: var(--background-accent-3);
}

.json_preview .export_data_popup_preview,
.text_preview .export_data_popup_preview {
  white-space: pre-wrap;
}

.csv_preview .export_data_popup_preview {
  white-space: pre;
}

.export_bottom_bar {
  text-align: right;
  margin-top: 8px;
  line-height: 3em;
}

.modal_options_shared_user #owner_tab_view,
.modal_options_shared_user #owner_tab_button {
  display: none;
}

.modal .btn svg {
  position: relative;
  top: -2px;
}

.modal .btn i {
  position: relative;
  top: 4px;
  font-size: 20px;
}

.modal_options_owner_user .leave_game {
  display: none;
}

.modal_options_shared_user .delete_game {
  display: none;
}

.shared_archived_status_wrapper {
  line-height: 1.75em;
  font-weight: bold;
  font-size: 1.5em;
  display: inline-block;
  padding-right: 2em;
  color: var(--prompt-message);
  margin-bottom: 13px;
  margin-top: 0px;
}

.modal_options_owner_user .shared_archived_status_wrapper {
  display: none;
}

.owner_archived_input_wrapper {
  display: inline-block;
  width: auto;
  margin-bottom: 16px;
  padding-right: 0;
  margin-top: 4px;
}

.modal_options_shared_user .owner_archived_input_wrapper {
  display: none;
}

.shared_usage_limit_div {
  line-height: 2em;
  display: inline-block;
  width: 100px;
  text-align: right;
  overflow: visible;
  font-family: "MonospaceTTF";
}

.prompt_for_new_usage {
  display: none;
  position: relative;
  top: -4px;
}

.prompt_for_new_title,
.prompt_for_new_system_message {
  display: none;
  position: relative;
  float: right;
}

.prompt_for_new_system_message {
  display: inline-block;
}

.modal_options_owner_user .prompt_for_new_title {
  display: inline-block;
}

.modal_options_owner_user .prompt_for_new_usage {
  display: inline-block;
}

#editDocumentModal textarea.document_title.form-control {
  height: 125px;
}

.create_modal_title_field {
  width: calc(100%);
}

.prompt-text {
  font-weight: bold;
  white-space: pre-wrap;
}

.completion-text {
  white-space: pre-wrap;
}

.copy_export_clipboard {
  background-color: transparent;
}

.copy_export_clipboard span {
  top: 3px;
  position: relative;
}

.session_header_link_button {
  background: none;
  border-color: transparent;
  position: relative;
  top: -2px;
}

.show_create_dialog_help,
.show_modal_profile_help,
.show_export_tickets_help {
  background: none;
  border-color: transparent;
}

.show_create_dialog_help i,
.show_export_tickets_help i,
.show_modal_profile_help i {
  position: relative;
  top: 4px;
  left: 0;
}

.tab-content {
  position: relative;
}

.select2-container {
  z-index: 100000;
}

.document_usage_cap_field,
.create_modal_note_field {
  width: 125px;
  display: inline-block;
}

.select2-dropdown {
  z-index: 10000;
}

.select2-dropdown.select2-dropdown--below {
  top: -10px;
  left: -10px;
  color: var(--impact-green);
  background: var(--secondary-color);
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: var(--background-accent-3);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: inherit;
  filter: brightness(1.1);
  background-color: var(--background-accent-3);
}

.app_panel.modal-content label {
  color: var(--primary-color);
}

.app_panel.modal-content .btn-check:checked+.btn-outline-primary label {
  color: var(--prompt-message);
}

.sign_out_button i,
.delete_game i {
  color: var(--warning);
}

.modal .modal-dialog .btn-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' stroke='rgb%28240,240,240%29' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.modal .modal-header,
.modal .modal-footer {
  border-color: var(--secondary-color-4);
}

.modal_document_title_display,
.modal_document_system_message_display {
  white-space: pre-wrap;
  display: block;
  min-height: 3em;
  color: var(--primary-color-2);
  background: rgba(0,0,0,.3);
  padding: 5px;
  margin-right: 60px;
  border-radius: 6px;
}

.parsed_file_status {
  display: inline-block;
}

.parsed_file_name {
  display: inline-block;
}

.doc_options_import_rows_preview {
  display: inline-block;
  width: 70px;
}

.text_preview .download_export_button,
.html_preview .download_export_button {
  display: none;
}

.json_preview .copy_export_clipboard,
.csv_preview .copy_export_clipboard {
  display: none;
}

.login_modal_container {
  background: var(--modal-background);
  color: var(--primary-color-3);
}

.labels_label {
  margin-top: 10px;
  margin-bottom: 4px;
}

.open_button_wrapper {
  float: right;
  display: none;
}

.randomize_name {
  white-space: nowrap;
  margin-left: 12px;
}

.profile_display_name {
  flex-grow: 1;
  overflow: hidden;
  align-self: center;
  font-style: italic;
  color: var(--primary-color);
}

.profile_display_image {
  flex-grow: 1;
  width: 64px;
  height: 64px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 12px;
  border-radius: 6px;
  position: relative;
  top: 26px;
}

.profile_display_image_clear.btn.btn-secondary,
.profile_display_image_randomize.btn.btn-secondary {
  margin-right: 6px;
}

.modal-dialog .app_panel {
  background: var(--modal-background);
}

.modal-dialog {
  border-radius: 0.5em;
  text-align: left;
}

.document_usage_stats_line {
  text-align: right;
  margin-right: 12px;
}

.document_usage_stats_line span {
  display: inline-block;
  width: 4em;
  text-align: right;
  position: relative;
  left: -12px;
}

.document_usage_stats_line {
  float: right;
}

.token_usage_document_limit_header {
  float: left;
  padding-right: 4px;
}

.tab-content>#export_tab_view.active {
  display: flex;
}

.export_size {
  position: relative;
  top: 3px;
}

#userProfileModal .form-check-label {
  min-width: 145px;
  text-align: left;
  margin-bottom: 24px;
}

.add_date_as_label_button {
  align-self: center;
  float: right;
}

.app_panel .form-check-input.insert_todaylabel_default_checkbox {
  width: 24px;
  height: 24px;
  border-color: var(--secondary-color-2); 
  margin-right: 12px;
  align-self: center;
  float: right;
  position: relative;
  top: 2px;
}

.app_panel .form-check-input.docfield_archived_checkbox,
.app_panel .form-check-input.docfield_include_user_names_checkbox {
  width: 24px;
  height: 24px;
  border-color: var(--secondary-color-2); 
}

.day_mode .app_panel .form-check-input.docfield_archived_checkbox,
.day_mode .app_panel .form-check-input.docfield_include_user_names_checkbox {
  width: 24px;
  height: 24px;
  border-color: var(--primary-color); 
}

#editDocumentModal .tab-pane {
  overflow: auto;
  flex: 1;
  flex-direction: column;
}

.owner_archived_input_wrapper .form-check-label {
  margin-right: 0px;
}

.dialog_header_icon {
  padding-right: 5px;
  color: var(--warning);
}

.dialog_header_icon i {
  position: relative;
  top: 4px;
}

#userProfileModal .dialog_header_icon {
  color: var(--secondary-green);
}

#userProfileModal .dialog_header_icon i {
  top: 6px;
}

#createDocumentModal .dialog_header_icon {
  color: var(--member-online-green);
}

#userProfileModal .app_panel .form-check-input {
  width: 24px;
  height: 24px;
  border-color: var(--primary-color-2);
}

#profile_user_usage_view {
  text-align: left;
}

.token_usage_row {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.token_usage_row>span {
  flex: 1;
}

.token_usage_row>span.usage_prefix_label {
  flex: none;
}

.account_subscription_status {
  color: var(--secondary-green);
}

.header.token_usage_row {
  color: var(--secondary-green);
}

.usage_prefix_label {
  width: 24px;
  text-align: left;
}

.total_token,
.completion_token,
.prompt_token {
  width: 80px;
}

.chat_token_usage_display {
  width: 100%;
  text-align: right;
}

.change_subscription {
  position: relative;
  top: -3px;
}

.summary_panel {
  text-align: right;
  display: inline-block;
}

.summary_panel .summary_column {
  width: 7.5em;
  display: inline-block;
  font-family: "MonospaceTTF";
}

.chat_token_usage_display tr td:first-child {
  text-align: left;
}

.help_navigation_bar a {
  padding: 4px;
  color: var(--primary-color);
}

.dialog_header_member_image {
  margin-left: 8px;
  margin-right: 2px;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 6px;
  flex: none;
  top: 6px;
}

.dialog_header_member_name {
  white-space: nowrap;
  overflow: hidden;
}

.doc_total_usage {
  min-width: 75px;
}

i.copy_green {
  color: var(--member-online-green);
}

#editDocumentModalLabel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  line-height: 2em;
  flex: 1;
}

@media (max-width: 380px) {
  .modal-footer {
    padding: .1em;
  }
}

.owner_note_display_div {
  min-height: 1.5em;
}

.btn-125 {
  min-width: 125px;
}

label.btn {
  font-size: 1.15em;
}

.title_note {
  color: var(--primary-color-4);
}

.export_format_select {
  display: inline-block;
  width: auto;
  margin-left: 4px;
  margin-right: 12px;
}

.export_only_selected_prompts {
  position: relative;
  top: 7px;
}

.day_mode #userProfileModal .app_panel .form-check-input {
  color: var(--primary-color-3);
  border-color: var(--primary-color-3);
}

.day_mode .app_panel .form-check-input:checked {
  background-color: var(--options-tab-color);
  color: var(--primary-color);
}

.day_mode .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-bottom-color: transparent;
}


.day_mode .modal-dialog .btn-secondary {
  border-color: var(--primary-color);
}

.modal-title {
  color: var(--primary-color);
}

.day_mode .show_modal_profile_help,
.day_mode .show_token_threshold_dialog_help,
.day_mode .show_create_dialog_help {
  border: none;
}

.day_mode .session_header_link_button,
.day_mode .modal-dialog .show_export_tickets_help.btn-secondary {
  border: none;
}

.day_mode .modal_document_title_display, .modal_document_system_message_display {
  background: var(--background-accent-3);
}

.change_email_panel {
  display: flex;
  flex-direction: row;
}

.change_email_button {
  white-space: nowrap;
  margin-left: 8px;
}

.edit_response_textarea {
  height: 50vh;
  flex: 1;
  width: 100%;
}

.create_modal_prompt_field {
  width: 100%;
  height: 5em;
}

.system_message_field {
  width: 100%;
  height: 5em;
}

.preview_create_template,
.preview_bulk_template {
  width: 100%;
  height: 50vh;
  overflow: scroll;
}
.preview_create_template table,
.preview_bulk_template table {
  width: 100%;
}
.preview_create_template td {
  width: 33%;
}

.preview_create_template th:nth-child(1) {
  width: 20px;
}

.preview_create_template td:nth-child(2) {
  width: 20px;
}

.preview_bulk_template td {
  width: 50%;
}