.scrollable_modal .modal-content {
    flex: 1;
    overflow: hidden;
  }
  
  .scrollable_modal .modal-dialog {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .scrollable_modal .modal-body {
    overflow: auto;
  }
  
  .export_data_popup_preview {
    background: inherit;
    color: inherit;
    width: 100%;
    min-height: 150px;
  }
  
  .export_bottom_bar {
    text-align: right;
  }
  
  #editDocumentModal .modal-body {
    min-height: 400px;
  }
  
  .modal_options_shared_user #owner_tab_view,
  .modal_options_shared_user #owner_tab_button
   {
    display: none;
  }
  
  .modal_options_owner_user .leave_game {
    display: none;
  }

  .modal_options_shared_user .delete_game {
    display: none;
  }

  .shared_archived_status_wrapper {
    line-height: 2em;
    font-weight: bold;
    font-size: 1.5em;
  }

  .modal_options_owner_user .shared_archived_status_wrapper {
    display: none;
  }

  .owner_archived_input_wrapper {
    display: inline-block;
    width: auto;
  }

  .modal_options_shared_user .owner_archived_input_wrapper {
    display: none;
  }

  .owner_usage_limit_wrapper {
    display:inline-block;
    width:auto;
  }

  .modal_options_shared_user .owner_usage_limit_wrapper {
    display: none;
  }

 .shared_usage_limit_div {
  line-height: 2em;
  font-weight: bold;
  font-size: 1.5em;
 }

 .modal_options_owner_user .shared_usage_limit_div {
  display: none;
 }

 #editDocumentModal textarea.document_title.form-control {
  height: 150px;
 }