
.logged_in_status {
  text-align: center;
  white-space: nowrap;
  padding: 10px;
  font-size: 20px;
  text-align: left;
}

.profile_display_image {
  width: 64px;
  height: 64px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 20px;
}

.form-check {
  display: inline-block;
  text-align: left;
  padding-right: 30px;
  font-size: 1.5em;
}