.profile_modal_logged_in_status {
  text-align: left;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
}

.sign_out_button i {
  color: var(--warning);
}

.randomize_name {
  white-space: nowrap;
  margin-left: 12px;
}

.profile_display_name {
  flex-grow: 1;
  overflow: hidden;
  align-self: center;
  font-weight: bold;
  color: var(--primary-color);
}

.profile_display_image {
  flex-grow: 1;
  width: 45px;
  height: 45px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 12px;
  border-radius: 6px;
  position: relative;
  top: 16px;
}

.profile_display_image_clear.btn.btn-secondary,
.profile_display_image_randomize.btn.btn-secondary {
  margin-right: 6px;
}

#userProfileModal .form-check-label {
  min-width: 145px;
  text-align: left;
  margin-bottom: 24px;
}

.dialog_header_icon {
  padding-right: 5px;
  color: var(--warning);
}

.dialog_header_icon i {
  position: relative;
}

#userProfileModal .dialog_header_icon {
  color: var(--secondary-green);
}

#userProfileModal .dialog_header_icon i {
  top: 6px;
  font-size: 20px;
}

#userProfileModal .app_panel .form-check-input {
  width: 24px;
  height: 24px;
  border-color: var(--primary-color-2);
}

#profile_user_usage_view {
  text-align: left;
}

.chat_token_usage_display {
  width: 100%;
  text-align: right;
}
.chat_token_usage_display tr td:first-child {
  text-align: left;
}

.change_subscription {
  position: relative;
  top: -3px;
}

.summary_panel .summary_column {
  width: 7.5em;
  display: inline-block;
  font-family: "MonospaceTTF";
}

.day_mode #userProfileModal .app_panel .form-check-input {
  color: var(--primary-color-3);
  border-color: var(--primary-color-3);
}

.change_email_panel {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.change_email_button {
  white-space: nowrap;
  margin-left: 8px;
}