.logged_in_status {
  text-align: center;
  white-space: nowrap;
  padding: 10px;
  font-size: 20px;
  text-align: left;
}

.profile_display_image {
  width: 64px;
  height: 64px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 20px;
}

.form-check {
  display: inline-block;
  text-align: left;
  padding-right: 30px;
  font-size: 1.5em;
}

.signed_out_options {
  display: none;
}

.app_signed_out .signed_out_options {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  align-self: center;
  font-size: 1.25em;
  max-width: 90%;
}

.signed_in_options {
  display: none;
}

.app_signed_in .signed_in_options {
  display: block;
}

.google_logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

@media (min-width: 768px) {
  .app_signed_out .signed_out_options {
    max-width: 630px;
  }
}