body.neRed {
    --home-panel-background: rgb(214, 188, 163); 
    --modal-background: rgb(255, 255, 255);
    --background-accent: rgb(244, 236, 221); 
    --background-accent-2: rgb(232, 217, 189);
    --background-accent-3: rgb(221, 211, 198);
  
    --primary-color: rgb(183, 16, 46);
    --primary-color-1: rgb(173, 16, 36);
    --primary-color-2: rgb(163, 16, 26);
    --primary-color-3: rgb(153, 16, 16);
    --primary-color-4: rgb(143, 16, 6);
    --secondary-color: rgb(221, 211, 198);
    --secondary-color-1: rgb(211, 201, 188);
    --secondary-color-2: rgb(201, 191, 178);
    --secondary-color-3: rgb(191, 181, 168);
  
    --secondary-green: rgb(183, 16, 46);
    --member-online-green: rgb(183, 16, 46);
    --impact-green: rgb(183, 16, 46);
    --prompt-assist: rgb(183, 16, 46);
  
    --highlight:  rgb(0, 0, 200);
    --highlight-session: rgb(15, 15, 245);
    --change: rgb(255, 127, 50);
    --warning: rgb(240, 240, 10);
    --impact-font: rgb(183, 16, 46);
    --document-title: rgb(38, 38, 28);
    --recent-document-activity-date: rgb(230, 160, 210);
    --shared_status_owner: rgb(190, 100, 250); /* var(--shared_status_owner) */
    --shared_status_user: rgb(50, 150, 150); /* var(--shared_status_user) */
  }
  
  body.neWES {
    --home-panel-background: rgb(0, 0, 0); 
    --modal-background: rgb(30, 30, 0);
    --background-accent: rgb(10, 10, 10); 
    --background-accent-2: rgb(20, 20, 0);
    --background-accent-3: rgb(30, 30, 0);
  
    --primary-color: rgb(255, 223, 0); 
    --primary-color-1: rgb(255, 223, 0);
    --primary-color-2: rgb(204, 187, 17);
    --primary-color-3: rgb(204, 187, 17);
    --primary-color-4: rgb(153, 142, 34);
    --secondary-color: rgb(0, 0, 0);
    --secondary-color-1: rgb(51, 51, 51);
    --secondary-color-2: rgb(102, 102, 102);
    --secondary-color-3: rgb(153, 153, 153);
  
    --options-tab-color: rgb(255, 223, 0); 
    --brand-name-color:  rgb(255, 223, 0);
    --secondary-green: rgb(204, 187, 17);
    --member-online-green: rgb(204, 187, 17);
    --impact-green: rgb(153, 142, 34);
    --prompt-assist: rgb(102, 94, 17);
  
    --highlight:  rgb(255, 223, 0);
    --highlight-session: rgb(204, 187, 17);
    --change: rgb(230, 100, 20); /*  var(--change) */ 
    --warning: rgb(255, 50, 50); /* var(--warning), [session warning, delete icon */
    --impact-font: rgb(51, 47, 8);
    --document-title: rgb(255, 223, 0);
    --recent-document-activity-date: rgb(204, 187, 17);
    --shared_status_owner: rgb(190, 100, 250); /* var(--shared_status_owner) */
    --shared_status_user: rgb(50, 150, 150); /* var(--shared_status_user) */
  }
  
  body.neBLUE {
    --home-panel-background: rgb(0, 56, 168); 
    --modal-background: rgb(0, 42, 126);
    --background-accent:  rgb(0, 14, 42);
    --background-accent-2:   rgb(28, 35, 59);
    --background-accent-3: rgb(0, 28, 84); 
  
    --primary-color: rgb(255, 255, 255);
    --primary-color-1: rgb(240, 240, 240);
    --primary-color-2: rgb(225, 225, 225);
    --primary-color-3: rgb(210, 210, 210);
    --primary-color-4: rgb(195, 195, 195);
    --secondary-color: rgb(0, 0, 0);
    --secondary-color-1: rgb(50, 50, 50);
    --secondary-color-2: rgb(100, 100, 100);
    --secondary-color-3: rgb(150, 150, 150);
  
    --options-tab-color: rgb(168, 168, 168);
    --secondary-green: rgb(0, 126, 56);
    --member-online-green: rgb(0, 168, 56);
    --impact-green: rgb(56, 168, 0);
    --prompt-assist: rgb(168, 168, 0);
  
    --highlight:  rgb(168, 168, 168);
    --highlight-session: rgb(126, 126, 126);
    --change: rgb(84, 84, 84);
    --warning: rgb(42, 42, 42);
    --impact-font: rgb(0, 56, 168);
    --document-title: rgb(210, 210, 210);
    --recent-document-activity-date: rgb(0, 28, 84);
    --shared_status_owner: rgb(190, 100, 250); /* var(--shared_status_owner) */
    --shared_status_user: rgb(30, 200, 200); /* var(--shared_status_user) */
  }